.product-details-table {
    .p-tabview-nav-container {
        .p-tabview-nav-content {   
            .p-tabview-nav {
                padding: 0 90px;
            }
        }
    }

    .p-tabview-panels {
        padding: 10px 90px;
        background-color: #fafafa;
    }
}
