.logo {
    height: 35px;
    margin-right: 5px;
}

.start-menubar {
    display: flex;
}
.navbar {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.082);
}

.link {
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px 10px;
    margin-right: 17px;
    text-transform: capitalize;
    text-align: center;
    color: var(--primary-color);

    &:hover {
        cursor: pointer;
        color: var(--secondary-color);
    }

    &__active {
        color: var(--primary-color);
        font-weight: bold;
        border-bottom: 3px solid var(--primary-color);

        &:hover {
            cursor: pointer;
            color: var(--primary-color);
        }
    }
}

