/* You can add global styles to this file, and also import other style files */
@import './assets/custome-theme/custom-theme.scss';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import './styles//mixin.scss';
@import './styles/tab-panel.scss';


body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.p-menubar {
    background: none;
    border: none;
}

:root {
    --border-color: #eaeaea;
    --navbar-height: 73px;
    --footer-height: 385px;
    --border-radius: 18px;
}


.layout {
    padding: 15px 90px;
}

.content-container {
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
}
