/* You can add global styles to this file, and also import other style files */
@import './assets/custome-theme/custom-theme.scss';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import './styles//mixin.scss';

.p-menubar {
    background: none;
    border: none;
}

:root {
    --border-color: #eaeaea;
}

.p-button-rounded {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.p-button.p-button-outlined {
    border-color: var(--primary-color);
    color: var(--primary-color);
}